<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Review Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
</head>
<body>
    <h1>Book Review Website</h1>
    <hr>
    <form action="", method="POST">
        <div>
            {{form.username.label}} <br>
            {{form.username}}
        </div>

        <div>
            {{form.email.label}} <br>
            {{form.email}}
        </div>
        
        <div>
            {{form.password.label}} <br>
            {{form.password}}
        </div>
        
        <div>
            {{form.password2.label}} <br>
            {{form.password2}}
        </div>
        
        {{form.submit}}
    </form>
</body>
</html>