<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Review Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
</head>
<body>
    <h1>Book Review Website</h1>
    <hr>
    <form action="#">
        <div>
            <label for="login">Login:</label>
            <input type="email" id="login">
        </div>

        <div>
            <label for="passwd">Password:</label>
            <input type="password">
        </div>
        <input type="submit" class="submit" value="Cadastrar">
    </form>
</body>
</html>
